In [1]:
%load_ext sql

In [3]:
%sql postgresql://postgres:student@127.0.0.1/sparkifydb

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(0, datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1, datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 32, 'free', None, None, 456, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (5, datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 75, 'free', None, None, 284, 'Columbia, SC', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"')]

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(75, 'Joseph', 'Gutierrez', 'M', 'free'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (90, 'Andrea', 'Butler', 'F', 'free'),
 (92, 'Ryann', 'Smith', 'F', 'free')]

In [6]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81833),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546)]

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892)]

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 4, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 4, 11, 45, 11, 2018, 6)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [1]:
! ls

create_tables.py  etl.ipynb  __pycache__  sql_queries.py
data		  etl.py     README.md	  test.ipynb

In [2]:
! cd..

/bin/sh: 1: cd..: not found

In [3]:
!zip -r dataP1.zip data/

  adding: data/ (stored 0%)
  adding: data/song_data/ (stored 0%)
  adding: data/song_data/A/ (stored 0%)
  adding: data/song_data/A/A/ (stored 0%)
  adding: data/song_data/A/A/A/ (stored 0%)
  adding: data/song_data/A/A/A/TRAAAAW128F429D538.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAVG12903CFA543.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAARJ128F9320760.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAPK128E0786D96.json (deflated 34%)
  adding: data/song_data/A/A/A/TRAAABD128F429CF47.json (deflated 32%)
  adding: data/song_data/A/A/A/TRAAAMO128F1481E7F.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAMQ128F1460CD3.json (deflated 33%)
  adding: data/song_data/A/A/A/TRAAAVO128F93133D4.json (deflated 32%)
  adding: data/song_data/A/A/A/TRAAAEF128F4273421.json (deflated 34%)
  adding: data/song_data/A/A/A/TRAAAFD128F92F423A.json (deflated 34%)
  adding: data/song_data/A/A/A/TRAAADZ128F9348C2E.json (deflated 34%)
  adding: data/song_data/A/A/B/ (stored 0%)
  adding: data/song_data/A/A/B/TRAABNV128F425CEE1.json (deflated 32%)
  adding: data/song_data/A/A/B/TRAABRB128F9306DD5.json (deflated 34%)
  adding: data/song_data/A/A/B/TRAABLR128F423B7E3.json (deflated 33%)
  adding: data/song_data/A/A/B/TRAABDL12903CAABBA.json (deflated 35%)
  adding: data/song_data/A/A/B/TRAABJL12903CDCF1A.json (deflated 35%)
  adding: data/song_data/A/A/B/TRAABVM128F92CA9DC.json (deflated 33%)
  adding: data/song_data/A/A/B/TRAABYN12903CFD305.json (deflated 31%)
  adding: data/song_data/A/A/B/TRAABXG128F9318EBD.json (deflated 33%)
  adding: data/song_data/A/A/B/TRAABCL128F4286650.json (deflated 34%)
  adding: data/song_data/A/A/B/TRAABYW128F4244559.json (deflated 32%)
  adding: data/song_data/A/A/B/TRAABJV128F1460C49.json (deflated 33%)
  adding: data/song_data/A/A/.ipynb_checkpoints/ (stored 0%)
  adding: data/song_data/A/A/C/ (stored 0%)
  adding: data/song_data/A/A/C/TRAACVS128E078BE39.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACPE128F421C1B9.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACLV128F427E123.json (deflated 29%)
  adding: data/song_data/A/A/C/TRAACER128F4290F96.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACTB12903CAAF15.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACFV128F935E50B.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACIW12903CC0F6D.json (deflated 33%)
  adding: data/song_data/A/A/C/TRAACOW128F933E35F.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACHN128F1489601.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACCG128F92E8A55.json (deflated 32%)
  adding: data/song_data/A/A/C/TRAACQT128F9331780.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACNS128F14A2DF5.json (deflated 31%)
  adding: data/song_data/A/A/C/TRAACSL128F93462F4.json (deflated 33%)
  adding: data/song_data/A/A/C/TRAACZK128F4243829.json (deflated 32%)
  adding: data/song_data/A/B/ (stored 0%)
  adding: data/song_data/A/B/A/ (stored 0%)
  adding: data/song_data/A/B/A/TRABAIO128F42938F9.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABAWW128F4250A31.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABAZH128F930419A.json (deflated 34%)
  adding: data/song_data/A/B/A/TRABAVQ12903CBF7E0.json (deflated 33%)
  adding: data/song_data/A/B/A/TRABAXR128F426515F.json (deflated 29%)
  adding: data/song_data/A/B/A/TRABAXL128F424FC50.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABAFJ128F42AF24E.json (deflated 31%)
  adding: data/song_data/A/B/A/TRABAXV128F92F6AE3.json (deflated 33%)
  adding: data/song_data/A/B/A/TRABACN128F425B784.json (deflated 33%)
  adding: data/song_data/A/B/A/TRABATO128F42627E9.json (deflated 34%)
  adding: data/song_data/A/B/A/TRABAFP128F931E9A1.json (deflated 30%)
  adding: data/song_data/A/B/B/ (stored 0%)
  adding: data/song_data/A/B/B/TRABBVJ128F92F7EAA.json (deflated 34%)
  adding: data/song_data/A/B/B/TRABBXU128F92FEF48.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBAM128F429D223.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBZN12903CD9297.json (deflated 34%)
  adding: data/song_data/A/B/B/TRABBNP128F932546F.json (deflated 33%)
  adding: data/song_data/A/B/B/TRABBOR128F4286200.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBOP128F931B50D.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBLU128F93349CF.json (deflated 31%)
  adding: data/song_data/A/B/B/TRABBBV128F42967D7.json (deflated 35%)
  adding: data/song_data/A/B/B/TRABBJE12903CDB442.json (deflated 32%)
  adding: data/song_data/A/B/B/TRABBKX128F4285205.json (deflated 31%)
  adding: data/song_data/A/B/B/TRABBTA128F933D304.json (deflated 33%)
  adding: data/song_data/A/B/.ipynb_checkpoints/ (stored 0%)
  adding: data/song_data/A/B/C/ (stored 0%)
  adding: data/song_data/A/B/C/TRABCEI128F424C983.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCUQ128E0783E2B.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCTK128F934B224.json (deflated 34%)
  adding: data/song_data/A/B/C/TRABCIX128F4265903.json (deflated 29%)
  adding: data/song_data/A/B/C/TRABCEC128F426456E.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCPZ128F4275C32.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCXB128F4286BD3.json (deflated 34%)
  adding: data/song_data/A/B/C/TRABCAJ12903CDFCC2.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCFL128F149BB0D.json (deflated 30%)
  adding: data/song_data/A/B/C/TRABCKL128F423A778.json (deflated 30%)
  adding: data/song_data/A/B/C/TRABCRU128F423F449.json (deflated 33%)
  adding: data/song_data/A/B/C/TRABCYE128F934CE1D.json (deflated 31%)
  adding: data/song_data/A/.ipynb_checkpoints/ (stored 0%)
  adding: data/song_data/.ipynb_checkpoints/ (stored 0%)
  adding: data/.ipynb_checkpoints/ (stored 0%)
  adding: data/log_data/ (stored 0%)
  adding: data/log_data/2018/ (stored 0%)
  adding: data/log_data/2018/.ipynb_checkpoints/ (stored 0%)
  adding: data/log_data/2018/11/ (stored 0%)
  adding: data/log_data/2018/11/2018-11-30-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-11-events.json (deflated 89%)
  adding: data/log_data/2018/11/2018-11-23-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-24-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-25-events.json (deflated 87%)
  adding: data/log_data/2018/11/2018-11-20-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-15-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-01-events.json (deflated 84%)
  adding: data/log_data/2018/11/2018-11-03-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-13-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-10-events.json (deflated 88%)
  adding: data/log_data/2018/11/2018-11-28-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-26-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-04-events.json (deflated 89%)
  adding: data/log_data/2018/11/2018-11-14-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-27-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-21-events.json (deflated 91%)
  adding: data/log_data/2018/11/2018-11-06-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-22-events.json (deflated 89%)
  adding: data/log_data/2018/11/2018-11-12-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-05-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-09-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-08-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-02-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-18-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-07-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-16-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-29-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-19-events.json (deflated 90%)
  adding: data/log_data/2018/11/2018-11-17-events.json (deflated 89%)